.contactUs {
    background: linear-gradient(to bottom, #fceae4, white);
    /* background-color:blue; */
    /* margin-bottom: 20%; */
}

.contactUS-container {
    margin-bottom: 20%;
}

.form-and-circles-container {
    --circle-offset: -20vh;
    position: relative;
    width: 100%;
}
  
.right-circles {
    position: absolute;
    top: var(--circle-offset);
    right: -2vh;
    height: 400px;
    width: 25%;
    z-index: 1;
}
  
.right-circles img {
    width: 100%;
    height: 100%;
}
  
.contact-form {
    position: relative;
    z-index: 2;
}