.contactUs {
    background: linear-gradient(to bottom, #fceae4, white);
    /* background-color:blue; */
    /* margin-bottom: 20%; */
}

.contactUS-container {
    margin-bottom: 20%;
}

.right-circles {
    display: flex;
    /* padding: 67.6px 68.9px; */
    position: absolute;
    background-color: blue;
}