.main-container {
  background-image: url("../../../../public/images/Home-Intro.png");
  background-size: cover;

  /* Center the image */
  background-position: center;
  height:100vh;
}

.homepage-picture {
  display: flex;
  flex-direction: column;
  margin: 0 15%;
}

.homepage-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.homepage-text h1 {
  color: white;
  text-align: center;
  font-family: "Myriad Pro";
  font-size: 90px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.homepage-text h6 {
  color: white;
  text-align: center;
  font-family: "Myriad Pro";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}