:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  .main-container {
    overflow: hidden;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  .main-container {
    position: relative;
    width: 1440px;
    height: 3238px;
    margin: 0 auto;
    background: #ffffff;
    overflow: hidden;
  }
  
  .frame-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 50px;
    position: relative;
    width: 1440px;
    min-width: 581px;
    height: 574px;
    margin: 830px 0 0 0;
    padding: 32px 16px 32px 16px;
    z-index: 3;
  }
  .frame-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 20px;
    position: relative;
    min-width: 0;
    z-index: 4;
  }
  .frame-5 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 13.939px;
    position: relative;
    width: 139.392px;
    height: 139.392px;
    background: url('../../../../public/images/homescreen.png')
      no-repeat center;
    background-size: cover;
    z-index: 5;
  }
  .frame-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 30px;
    position: relative;
    z-index: 6;
  }
  .products-and-services {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 52px;
    color: #ffffff;
    font-family: EB Garamond, var(--default-font-family);
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    text-align: center;
    white-space: nowrap;
    z-index: 7;
    max-width: 1140px;
  }
  .frame-7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 90px;
    position: relative;
    z-index: 8;
  }
  .engineering-and-analysis {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    font-family: Roboto, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 29.297px;
    text-align: center;
    z-index: 9;
    max-width: 1140px;
  }
  .we-provide {
    position: relative;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 29.297px;
    text-align: center;
  }
  .engineering {
    position: relative;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 25px;
    font-weight: 700;
    line-height: 29.297px;
    text-align: center;
  }
  .we-provide-8 {
    position: relative;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 29.297px;
    text-align: center;
  }
  .engineering-9 {
    position: relative;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 25px;
    font-weight: 700;
    line-height: 29.297px;
    text-align: center;
  }
  .we-provide-a {
    position: relative;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 29.297px;
    text-align: center;
  }
  .engineering-b {
    position: relative;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 25px;
    font-weight: 700;
    line-height: 29.297px;
    text-align: center;
  }
  .we-provide-c {
    position: relative;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 29.297px;
    text-align: center;
  }
  .engineering-d {
    position: relative;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 25px;
    font-weight: 700;
    line-height: 29.297px;
    text-align: center;
  }
  .improve-performance-safety {
    position: relative;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 29.297px;
    text-align: center;
  }
  .frame-e {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 7.283px;
    position: relative;
    width: 208.25px;
    min-width: 208.25px;
    height: 68px;
    padding: 21.12px 48.795px 21.12px 48.795px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.75);
    border: none;
    z-index: 10;
    border-radius: 11.652px;
  }
  .learn-more {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 29px;
    color: #000000;
    font-family: Roboto, var(--default-font-family);
    font-size: 25px;
    font-weight: 700;
    line-height: 29px;
    text-align: left;
    white-space: nowrap;
    z-index: 11;
  }
  .frame-f {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    gap: 50px;
    position: relative;
    width: 1440px;
    min-width: 581px;
    margin: -9px 0 0 0;
    padding: 32px 16px 32px 16px;
    z-index: 14;
  }
  .frame-10 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 20px;
    position: relative;
    min-width: 0;
    z-index: 15;
  }
  .frame-11 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 13.939px;
    position: relative;
    width: 139.39px;
    z-index: 16;
  }
  .ellipse {
    flex-shrink: 0;
    position: relative;
    width: 139.39px;
    height: 139.39px;
    /* background: url(../assets/images/bf1f83ac-aa90-4ccb-9de9-093e89b68ee8.png) */
      /* no-repeat center; */
    background-size: cover;
    z-index: 17;
    border-radius: 50%;
  }
  .essentials-user {
    flex-shrink: 0;
    position: absolute;
    width: 81.32px;
    height: 81.32px;
    top: 20.41%;
    left: 20.42%;
    z-index: 18;
    overflow: hidden;
  }
  .icon {
    position: relative;
    width: 74.543px;
    height: 74.544px;
    margin: 3.388px 0 0 3.388px;
    /* background: url(../assets/images/3f9a16ea-0c9e-4634-a56e-1045b6020996.png)
      no-repeat center; */
    background-size: 100% 100%;
    z-index: 19;
  }
  .frame-12 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 30px;
    position: relative;
    background: rgba(0, 0, 0, 0);
    z-index: 20;
  }
  .our-clients {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    width: 1408px;
    height: 78px;
    color: #ffffff;
    font-family: EB Garamond, var(--default-font-family);
    font-size: 35px;
    font-weight: 700;
    line-height: 45.675px;
    text-align: center;
    z-index: 21;
  }
  .frame-13 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 33.12px;
    position: relative;
    width: 177.12px;
    z-index: 22;
    max-width: 177.12px;
  }
  .image {
    flex-shrink: 0;
    position: relative;
    width: 72px;
    height: 72px;
    /* background: url(../assets/images/0ffb5bf2d9862e55a645b63d2a51e07abdf0dfec.png)
      no-repeat center; */
    background-size: cover;
    z-index: 23;
  }
  .image-14 {
    flex-shrink: 0;
    position: relative;
    width: 72px;
    height: 72px;
    /* background: url(../assets/images/74f8b53d1bc3975a8e25efb5daef2ebe81462d21.png)
      no-repeat center; */
    background-size: cover;
    z-index: 24;
  }
  .frame-15 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 90px;
    position: relative;
    z-index: 25;
  }
  .contract-r-d-services {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    font-family: Roboto, var(--default-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 28.125px;
    text-align: center;
    z-index: 26;
    max-width: 1140px;
  }
  .private-sector-information {
    position: relative;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 28.125px;
    text-align: center;
  }
  .licenses {
    position: relative;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 28.125px;
    text-align: center;
  }
  .private-sector-information-16 {
    position: relative;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 28.125px;
    text-align: center;
  }
  .licenses-17 {
    position: relative;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 28.125px;
    text-align: center;
  }
  .private-sector-information-18 {
    position: relative;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 28.125px;
    text-align: center;
  }
  .licenses-19 {
    position: relative;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 28.125px;
    text-align: center;
  }
  .private-sector-information-1a {
    position: relative;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 28.125px;
    text-align: center;
  }
  .licenses-1b {
    position: relative;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 28.125px;
    text-align: center;
  }
  .private-sector-information-1c {
    position: relative;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 28.125px;
    text-align: center;
  }
  .licenses-1d {
    position: relative;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 28.125px;
    text-align: center;
  }
  .private-sector-information-1e {
    position: relative;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 28.125px;
    text-align: center;
  }
  .licenses-1f {
    position: relative;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 28.125px;
    text-align: center;
  }
  .period {
    position: relative;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 24px;
    font-weight: 400;
    line-height: 28.125px;
    text-align: center;
  }
  .frame-20 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 7.283px;
    position: relative;
    width: 208.25px;
    min-width: 208.25px;
    height: 68px;
    padding: 21.12px 48.795px 21.12px 48.795px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.75);
    border: none;
    z-index: 27;
    border-radius: 11.652px;
  }
  .learn-more-21 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 29px;
    color: #000000;
    font-family: Roboto, var(--default-font-family);
    font-size: 25px;
    font-weight: 700;
    line-height: 29px;
    text-align: left;
    white-space: nowrap;
    z-index: 28;
  }
  .frame-22 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 50px;
    position: relative;
    width: 1440px;
    min-width: 581px;
    height: 574px;
    margin: -9.39px 0 0 -6px;
    padding: 32px 16px 32px 16px;
    z-index: 29;
  }
  .frame-23 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 20px;
    position: relative;
    min-width: 0;
    z-index: 30;
  }
  .frame-24 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 13.939px;
    position: relative;
    width: 139.39px;
    height: 139.39px;
    /* background: url(../assets/images/0d586537-9d3b-47e1-bbfe-7bcedea0826a.png)
      no-repeat center; */
    background-size: cover;
    z-index: 31;
  }
  .frame-25 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 30px;
    position: relative;
    z-index: 32;
  }
  .our-facilities {
    align-self: stretch;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 78px;
    color: #ffffff;
    font-family: EB Garamond, var(--default-font-family);
    font-size: 40px;
    font-weight: 700;
    line-height: 52.2px;
    text-align: center;
    white-space: nowrap;
    z-index: 33;
    max-width: 1140px;
  }
  .frame-26 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 90px;
    position: relative;
    z-index: 34;
  }
  .laboratory-equipment {
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
    font-family: Roboto, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 29.297px;
    text-align: center;
    z-index: 35;
    max-width: 1140px;
  }
  .laboratory-equipment-27 {
    position: relative;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 29.297px;
    text-align: center;
  }
  .unique-in-house {
    position: relative;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 25px;
    font-weight: 700;
    line-height: 29.297px;
    text-align: center;
  }
  .laboratory-equipment-28 {
    position: relative;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 29.297px;
    text-align: center;
  }
  .unique-in-house-29 {
    position: relative;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 25px;
    font-weight: 700;
    line-height: 29.297px;
    text-align: center;
  }
  .laboratory-equipment-2a {
    position: relative;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 29.297px;
    text-align: center;
  }
  .unique-in-house-2b {
    position: relative;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 25px;
    font-weight: 700;
    line-height: 29.297px;
    text-align: center;
  }
  .laboratory-equipment-2c {
    position: relative;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 29.297px;
    text-align: center;
  }
  .unique-in-house-2d {
    position: relative;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 25px;
    font-weight: 700;
    line-height: 29.297px;
    text-align: center;
  }
  .laboratory-equipment-2e {
    position: relative;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 29.297px;
    text-align: center;
  }
  .unique-in-house-2f {
    position: relative;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 25px;
    font-weight: 700;
    line-height: 29.297px;
    text-align: center;
  }
  .laboratory-equipment-30 {
    position: relative;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 29.297px;
    text-align: center;
  }
  .unique-in-house-31 {
    position: relative;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 25px;
    font-weight: 700;
    line-height: 29.297px;
    text-align: center;
  }
  .laboratory-equipment-32 {
    position: relative;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 29.297px;
    text-align: center;
  }
  .unique-in-house-33 {
    position: relative;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 25px;
    font-weight: 700;
    line-height: 29.297px;
    text-align: center;
  }
  .text-31 {
    position: relative;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 25px;
    font-weight: 400;
    line-height: 29.297px;
    text-align: center;
  }
  .frame-34 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 7.283px;
    position: relative;
    width: 208.25px;
    min-width: 208.25px;
    height: 68px;
    padding: 21.12px 48.795px 21.12px 48.795px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.75);
    border: none;
    z-index: 36;
    border-radius: 11.652px;
  }
  .learn-more-35 {
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 29px;
    color: #000000;
    font-family: Roboto, var(--default-font-family);
    font-size: 25px;
    font-weight: 700;
    line-height: 29px;
    text-align: left;
    white-space: nowrap;
    z-index: 37;
  }
  .navbar-36 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: relative;
    width: 1440px;
    min-width: 1118px;
    height: 80px;
    margin: 3594px 0 0 -499px;
    padding: 16px 150px 16px 151px;
    background: #03396c;
    border-top: 1px solid #ffffff;
    z-index: 71;
    max-width: 1440px;
  }
  .frame-37 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 9px;
    position: relative;
    width: 64.8px;
    z-index: 72;
  }
  .rectangle-38 {
    flex-shrink: 0;
    position: relative;
    width: 64.8px;
    height: 63px;
    background: #ffffff;
    z-index: 73;
  }
  .frame-39 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 20px;
    position: relative;
    min-width: 0;
    z-index: 74;
  }
  .home-3a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 46px;
    height: 19px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    white-space: nowrap;
    z-index: 75;
  }
  .about-3b {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 47px;
    height: 19px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    white-space: nowrap;
    z-index: 76;
  }
  .battery-safety-3c {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 110px;
    height: 19px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    white-space: nowrap;
    z-index: 77;
  }
  .aerosol-capture-3d {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 124px;
    height: 19px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    white-space: nowrap;
    z-index: 78;
  }
  .instrumentation-3e {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 122px;
    height: 19px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    white-space: nowrap;
    z-index: 79;
  }
  .facilities-3f {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 68px;
    height: 19px;
    color: #ffffff;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    white-space: nowrap;
    z-index: 80;
  }
  .frame-40 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 10px;
    position: relative;
    width: 102px;
    padding: 8px 8px 8px 8px;
    background: #ffffff;
    z-index: 81;
    overflow: hidden;
    border-radius: 4px;
  }
  .contact-us-41 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 86px;
    height: 19px;
    color: #03396c;
    font-family: Inter, var(--default-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    white-space: nowrap;
    z-index: 82;
  }
  .group {
    position: absolute;
    width: 4800.391px;
    height: 4800.975px;
    top: -1848.044px;
    left: -912px;
    /* background: url(../assets/images/aa1e18a9-d79b-4762-b99d-d3e83d934582.png)
      no-repeat center; */
    background-size: cover;
    z-index: 2;
  }
  .image-42 {
    position: absolute;
    width: 612px;
    height: 831px;
    top: 79px;
    left: 828px;
    /* background: url(../assets/images/d8784b95c16807a07a50aa041f8da49a1757f7b9.png)
      no-repeat center; */
    background-size: cover;
    z-index: 58;
  }
  .arrows-chevron-down {
    position: absolute;
    width: 43.2px;
    height: 43.2px;
    top: 148px;
    left: 703.4px;
    overflow: hidden;
  }
  .icon-43 {
    position: relative;
    width: 25.2px;
    height: 13.654px;
    margin: 16.2px 0 0 9px;
    /* background: url(../assets/images/0ba5a9f0-a5c2-432c-a67f-76952fee7d08.png)
      no-repeat center; */
    background-size: 100% 100%;
    z-index: 1;
  }
  .pioneering-protection-for-your-products {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    width: 583px;
    height: 291px;
    top: 324px;
    left: 149px;
    color: #03396c;
    font-family: Inter, var(--default-font-family);
    font-size: 80px;
    font-weight: 700;
    line-height: 96.818px;
    text-align: left;
    z-index: 12;
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 44px;
    position: absolute;
    width: 1440px;
    min-width: 690px;
    height: 523px;
    top: 2715px;
    left: 50%;
    padding: 20px 190px 20px 190px;
    background: rgba(0, 0, 0, 0.04000000000000001);
    transform: translate(-50%, 0);
    z-index: 38;
    max-width: 1440px;
  }
  .frame-44 {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    position: relative;
    min-width: 584px;
    z-index: 39;
  }
  .frame-45 {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 25px;
    position: relative;
    z-index: 40;
  }
  .contact-us-46 {
    flex-grow: 1;
    flex-basis: auto;
    position: relative;
    height: 65px;
    color: #ffffff;
    font-family: EB Garamond, var(--default-font-family);
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    text-align: center;
    white-space: nowrap;
    z-index: 41;
  }
  .frame-47 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 72px;
    position: relative;
    z-index: 42;
  }
  .line {
    flex-shrink: 0;
    position: relative;
    width: 1px;
    height: 405px;
    /* background: url(../assets/images/7c35d37e-3259-4ac5-b0e1-d7944048a4d3.png)
      no-repeat center; */
    background-size: cover;
    z-index: 43;
  }
  .frame-48 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    gap: 47px;
    position: relative;
    height: 268px;
    z-index: 44;
  }
  .frame-49 {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 41px;
    position: relative;
    height: 50px;
    z-index: 45;
  }
  .icon-4a {
    flex-shrink: 0;
    position: relative;
    width: 19px;
    height: 19px;
    /* background: url(../assets/images/88cf5db9-4e42-49ff-8cbf-4415a8830903.png)
      no-repeat center; */
    background-size: cover;
    z-index: 46;
  }
  .phone-number {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 23px;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    white-space: nowrap;
    z-index: 47;
  }
  .frame-4b {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 41px;
    position: relative;
    z-index: 48;
  }
  .icon-4c {
    flex-shrink: 0;
    position: relative;
    width: 20.75px;
    height: 21.792px;
    /* background: url(../assets/images/f1b4a607-fe28-41b2-a410-171009ebadf2.png)
      no-repeat center; */
    background-size: cover;
    z-index: 49;
  }
  .address {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    height: 23px;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    white-space: nowrap;
    z-index: 50;
  }
  .frame-4d {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 41px;
    position: relative;
    z-index: 51;
  }
  .icon-4e {
    flex-shrink: 0;
    position: relative;
    width: 22px;
    height: 18px;
    /* background: url(../assets/images/83677af7-ee75-4eda-b85e-5ae68a2a1f79.png)
      no-repeat center; */
    background-size: cover;
    z-index: 52;
  }
  .email {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    position: relative;
    width: 397px;
    font-family: Roboto, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    text-overflow: initial;
    white-space: nowrap;
    z-index: 53;
  }
  .office {
    position: relative;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 23.438px;
    text-align: left;
    text-decoration: underline;
  }
  .email-address {
    position: relative;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 23.438px;
    text-align: left;
  }
  .frame-4f {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-wrap: nowrap;
    flex-shrink: 0;
    gap: 20px;
    position: relative;
    min-width: 75px;
    z-index: 54;
  }
  .vector {
    flex-shrink: 0;
    position: relative;
    width: 30px;
    height: 29.89px;
    /* background: url(../assets/images/b0165b21-b2fd-423a-a84e-cc14d4474f86.png)
      no-repeat center; */
    background-size: cover;
    z-index: 55;
  }
  .vector-50 {
    flex-shrink: 0;
    position: relative;
    width: 30px;
    height: 21.1px;
    /* background: url(../assets/images/fec579e3-4710-4c00-bf55-9d6d81d9bd75.png)
      no-repeat center; */
    background-size: cover;
    z-index: 56;
  }
  .copyright-text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    position: relative;
    width: 1060px;
    min-width: 0;
    min-height: 0;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 17.578px;
    text-align: center;
    text-overflow: initial;
    z-index: 57;
    overflow: hidden;
  }
  