.Contact_fillout {
    background-color: #161833;
    width: 1470px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Centers the container on the page */
    padding: 20px; /* Adding padding for better spacing */
    box-sizing: border-box; /* Ensures padding doesn't affect width */
}

.form-container {
    width: 1140px;
    height: 358px;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.top-info {
    display: flex;
    justify-content: center;
    gap: 10%;
}

.information {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

input#name {
    width: 500px;
    height: 40px;
    border-bottom-color: #F65446;
    border-radius: 5px;
}

input#email {
    width: 500px;
    height: 40px;
}

input#phone {
    width: 500px;
    height: 40px;
}

.message {
    width: 461px;
    height: 300px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.message-form {
    width: 461px;
    height: 380px;
}

input#message {
    width: 100%;
    height: 150px;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: left; /* Aligns text to the left */
    vertical-align: top; /* Ensures text aligns to the top */
    resize: none; /* Prevents resizing if needed */
    overflow-y: auto; /* Adds a scrollbar if content exceeds the height */
}

input#message::placeholder {
    text-align: left;
    vertical-align: top;
}

.submit {
    display: flex;
    width: 170px;
    height: 58px;
    padding: 9.6px;
    justify-content: center;
    align-items: center;
    gap: 6.4px;
    flex-shrink: 0;
    background: #F65446;
}

.submit p {
    color: var(--Base-White, #FFF);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}