.top {
    display: flex;
    flex-direction: column;
    /* flex-shrink: 0; */
    background-image: url('../../../../public/images/earth-about.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 140vh; 
    /* max-width: 185vh; */
    /* max-width: 100%; */
    flex-shrink: 1;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
    padding: 1vh; 

}

.top-left {
    padding-bottom: 20vh;
    margin: 0 10%;
}

.top h1 {
    color: #faf7f7c0;
    text-align: center;
    font-family: "Myriad Pro";
    font-size: 10vh;
    font-style: normal;
    font-weight: 700;
    line-height: 12.5vh; /* 62.5% */
}

.highlight {
    color: #FF4E0D;
}

.exp {
    display: flex;
    padding: 8vh 36vh;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 10px; */
    flex-shrink: 0;
    background-color: #161833E5;
    justify-content: center;
}

.exp-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20vh;
}

.founded {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.founded h1 {
    color: #F5F5F5;
    text-align: center;
    font-family: "Myriad Pro";
    font-size: 5vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.founded p {
    color: #F5F5F5;
    text-align: center;
    font-family: "Myriad Pro";
    font-size: 17.2vh;
    font-style: normal;
    padding: 0;
    margin: 0;
    font-weight: 400;
    line-height: normal;
}

.exp-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vh;
    /* background-color: #FF4E0D; */
}

.exp-text h1 {
    color: #F5F5F5;
    text-align: center;
    font-family: "Myriad Pro";
    font-size: 17.2vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 0;
}

.exp-text p {
    color: #F5F5F5;
    text-align: center;
    font-family: "Myriad Pro";
    font-size: 5vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* padding: 0; */
    margin: -2%;
}

