.morphTop {
    display: flex;
    flex-direction: column;
    margin: 0 11.5%;
}

.morphTop p {
    color: var(--Orange, #FF4E0D);
    text-align: left;
    font-family: "DM Mono";
    font-size: 3.6vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 5% 0 3%;
}

.morphTop h1 {
    font-family: "Myriad Pro";
    font-size: 9.5vh;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    padding-bottom: 5%;
}

.morphTopAfterImageText {
    display: flex;
    flex-direction: column;
}

.morphTopAfterImageText p {
    color: var(--Base-Black, #000);
    font-family: "Adobe Caslon Pro";
    font-size: 3.7vh;
    font-style: normal;
    font-weight: 400;
    line-height: 6.2vh;
    margin-top: 20%;
}

.morphTopValidation {
    display: flex;
    flex-direction: column;
    margin-bottom: 6%;
}

.morphTopValidation h1 {
    color: var(--Base-Black, #000);
    font-family: "Myriad Pro";
    font-size: 6.5vh;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
}

.morphTopValidation p {
    color: var(--Base-Black, #000);
    font-family: "Adobe Caslon Pro";
    font-size: 3.7vh;
    font-style: normal;
    font-weight: 400;
    line-height: 6.2vh;
    margin-top: -5vh;
}

.morphTopValidationImage,
.morphTopBiggerGraph,
.measuredVsTheoretical {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.morphTopValidationImage p,
.morphTopBiggerGraph p,
.measuredVsTheoretical p {
    color: var(--Base-Black, #000);
    font-family: "Myriad Pro";
    font-size: 3.7vh;
    font-style: italic;
    font-weight: 600;
    line-height: 40px;
}

.morphTopValidationImage p {
    color: #000;
    font-family: "Myriad Pro";
    font-size: 3.7vh;
    font-style: italic;
    font-weight: 600;
    line-height: 40px;
    opacity: 10;
}

.morphTopAfterImageText,
.morphExplain,
.agglomerated {
    display: flex;
    flex-direction: column;
    margin-bottom: 6%;
    margin-top: 6%;
}

.measuredVsTheoreticalText {
    display: flex;
    flex-direction: column;
}

.morphTopAfterImageText p,
.morphExplain p,
.agglomerated p, 
.measuredVsTheoreticalText p {
    color: var(--Base-Black, #000);
    font-family: "Adobe Caslon Pro";
    font-size: 3.7vh;
    font-style: normal;
    font-weight: 400;
    line-height: 6.2vh;
    margin-top: -5vh;
}

.agglomerated h1 {
    color: var(--Base-Black, #000);
    font-family: "Myriad Pro";
    font-size: 6vh;
    font-style: normal;
    font-weight: 700;
    line-height: 9vh;
}

.agglomeratedImage {
    display: flex;
    flex-direction: column;
    margin-top: 8%;
}

.agglomeratedImage p {
    color: var(--Base-Black, #000);
    font-family: "Adobe Caslon Pro";
    font-size: 3.7vh;
    font-style: normal;
    font-weight: 400;
    line-height: 6.2vh;
    margin-top: 6%;
    margin-bottom: 8%;
}

.measuredVsTheoreticalText p {
    color: var(--Base-Black, #000);
    font-family: "Adobe Caslon Pro";
    font-size: 3.7vh;
    font-style: normal;
    font-weight: 400;
    line-height: 6.2vh;
}

.orangeText {
    color: var(--Orange, #FF4E0D);
}