.optical {
    background: linear-gradient(to bottom, #fceae4, white);
}

.opticalContainer {
    display: flex;
    flex-direction: column;
    margin: 0 11.5%;
}

.orangeText:hover {
    text-decoration: underline;
}

.opticalInstrumentation p {
    color: var(--Orange, #FF4E0D);
    text-align: left;
    font-family: "DM Mono";
    font-size: 3.6vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 5% 0 7%;
}

.opticalInstrumentation h1 {
    font-family: "Myriad Pro";
    font-size: 9.5vh;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    padding-bottom: 5%;
}

.opticalParagraph {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.opticalParagraph p {
    color: var(--Base-Black, #000);
    font-family: "Adobe Caslon Pro";
    font-size: 3.7vh;
    font-style: normal;
    font-weight: 400;
    line-height: 6.2vh;
}

.opticalParagraph ul {
    color: var(--Base-Black, #000);
    font-family: "Adobe Caslon Pro";
    font-size: 3.7vh;
    font-style: normal;
    font-weight: 400;
    line-height: 6.2vh;
    margin-left: 5%;
}

.opticalOthers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10% 0 21%;
}

.opticalOthers h1 {
    color: var(--Base-Black, #000);
    font-family: "Myriad Pro";
    font-size: 6vh;
    font-style: normal;
    font-weight: 700;
    line-height: 9vh;
    margin: 0 0 4%;
}

.opticalOthersImages {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.opticalOthersImagesLeft,
.opticalOthersImagesRight {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.opticalOthersImagesLeftTop,
.opticalOthersImagesLeftBottom,
.opticalOthersImagesRightTop,
.opticalOthersImagesRightBottom {
    width: 65.05vh;
    height: 35vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 4%;
}

.opticalOthersImagesLeftTopText h1,
.opticalOthersImagesLeftBottomText h1,
.opticalOthersImagesRightTopText h1,
.opticalOthersImagesRightBottomText h1 {
    color: #fff;
    font-family: "Myriad Pro";
    font-size: 3.7vh;
    font-style: normal;
    text-align: left;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.33px;
    margin: 0;
}

.opticalOthersImagesLeftTop {
    background-image: url("../../../public/images/aerosolconcentrationtile.png");
}

.opticalOthersImagesLeftBottom {
    background-image: url("../../../public/images/MorphologyTile.png");
}

.opticalOthersImagesRightTop {
    background-image: url("../../../public/images/LightScatteringTile.png");
}

.opticalOthersImagesRightBottom {
    background-image: url("../../../public/images/SedimentationTile.png");
}

.opticalOthersImagesLeftTopText,
.opticalOthersImagesRightTopText,
.opticalOthersImagesRightBottomText {
    margin-top: 1%;
    margin-bottom: 24%;
    width: 95%;
}

.opticalOthersImagesLeftBottomText {
    margin-top: 1%;
    margin-bottom: 15%;
    width: 95%;
}

.opticalOthersImagesLeftTopButton,
.opticalOthersImagesLeftBottomButton,
.opticalOthersImagesRightTopButton,
.opticalOthersImagesRightBottomButton {
    width: 95%;
}

.orangeText {
    color: var(--Orange, #FF4E0D);
}