.dustMitigation {
    background: linear-gradient(to bottom, #fceae4, white);
}

.dustTopContainer {
    display: flex;
    flex-direction: column;
    margin: 0 11.5%;
}

.dustTopContainer p {
    color: var(--Orange, #FF4E0D);
    text-align: left;
    font-family: "DM Mono";
    font-size: 3.6vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 5% 0 3%;
}

.dustTopContainer h1 {
    font-family: "Myriad Pro";
    font-size: 9.5vh;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    padding-bottom: 5%;
}

.dustTopText {
    display: flex;
    flex-direction: column;
    margin: 7% 0;
}

.dustTopText p {
    color: #000;
    font-family: "Adobe Caslon Pro";
    font-size: 3.7vh;
    font-style: normal;
    font-weight: 400;
    line-height: 6.2vh;
}

.textAfterCollection {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.textAfterCollection p {
    color: #000;
    font-family: "Adobe Caslon Pro";
    font-size: 3.7vh;
    font-style: normal;
    font-weight: 400;
    line-height: 6.2vh;
    margin-top: 10%;
}

.mediaFreeFiltration {
    display: flex;
    flex-direction: column;
    margin: 7% 0;
}

.mediaFreeFiltration h1 {
    color: var(--Base-Black, #000);
    font-family: "Myriad Pro";
    font-size: 6vh;
    font-style: normal;
    font-weight: 700;
    line-height: 9vh;
    margin-bottom: -7vh;
}

.mediaFreeFiltration p {
    color: #000;
    font-family: "Adobe Caslon Pro";
    font-size: 3.7vh;
    font-style: normal;
    font-weight: 400;
    line-height: 6.2vh;
}

.dustOthers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 2% 0 19.25%;
}

.dustOthers h1 {
    color: var(--Base-Black, #000);
    font-family: "Myriad Pro";
    font-size: 6vh;
    font-style: normal;
    font-weight: 700;
    line-height: 9vh;
    margin: 10% 0;
}

.dustEffectivenessFilter {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.dustEffectivenessFilter p {
    color: var(--Base-Black, #000);
    font-family: "Myriad Pro";
    font-size: 3.7vh;
    font-style: italic;
    font-weight: 600;
    line-height: 40px;
}

.dustFinalText p {
    color: var(--Base-Black, #000);
    font-family: "Adobe Caslon Pro";
    font-size: 3.7vh;
    font-style: normal;
    font-weight: 400;
    line-height: 6.2vh;
}

.dustOthersImages {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: -5%;
}

.dustOthersImagesLeft {
    margin: 0 3% 0 0;
}

.dustOthersImagesLeftTop,
.dustOthersImagesLeftBottom,
.dustOthersImagesRightTop {
    width: 65.05vh;
    height: 35vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 4%;
}

.dustOthersImagesLeftTopText h1,
.dustOthersImagesLeftBottomText h1,
.dustOthersImagesRightTopText h1 {
    color: #fff;
    font-family: "Myriad Pro";
    font-size: 3.7vh;
    font-style: normal;
    text-align: left;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.33px;
    margin: 0;
}

.dustOthersImagesLeftTop {
    background-image: url("../../../public/images/SeparationTile.png");
    margin-bottom: 7%;
}

.dustOthersImagesLeftTopText {
    margin-top: 1%;
    margin-bottom: 27%;
    width: 95%;
}

.dustOthersImagesLeftTopButton {
    width: 95%;
}

.dustOthersImagesLeftBottom {
    margin-top: 7%;
    background-image: url("../../../public/images/ElectrodynamicTile.png");
}

.dustOthersImagesLeftBottomText {
    margin-top: 1%;
    margin-bottom: 19%;
    width: 95%;
}

.dustOthersImagesLeftBottomButton {
    width: 95%;
}

.dustOthersImagesRight {
    display: flex;
    flex-direction: column;
}

.dustOthersImagesRightTop {
    background-image: url("../../../public/images/aerosolconcentrationtile.png");
    margin-bottom: 7%;
}

.dustOthersImagesRightTopText {
    margin-top: 1%;
    margin-bottom: 27%;
    width: 95%;
}

.dustOthersImagesRightTopButton {
    width: 95%;
}

.orangeText {
    color: var(--Orange, #FF4E0D);
}