.facilities {
    background: linear-gradient(to bottom, #fceae4, white);
}

.facilitiesContainer {
    display: flex;
    flex-direction: column;
    margin: 0 11.5% 20%;
}

.homeLink {
    text-decoration: none;
    color: #FF4E0D;
    text-align: left;
    font-family: "DM Mono";
    font-size: 3.6vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 5% 0 3%;
}

.homeLink:hover {
    text-decoration: underline;
}

.facilitiesContainer h1 {
    font-family: "Myriad Pro";
    font-size: 9.5vh;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
}

.facilitiesContainerAfterText {
    display: flex;
    flex-direction: column;
    margin: 5% 0 3%; 
}

.facilitiesContainerAfterText p,
.particleCharacter p,
.aeroTesting p,
.textAfterEquipment,
.acDc p,
.thermalTestingFacility p,
.facilityLastText,
.particleCharacter li,
.particleCharacter a {
    color: black;
    font-family: "Adobe Caslon Pro";
    font-size: 1.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 6.2vh;
}

.particleCharacter {
    display: flex;
    flex-direction: column;
    margin: 7% 0;
}

.facilityImageFirstCollection {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    margin: 8% 0;
}

.aeroTesting {
    display: flex;
    flex-direction: column;
    margin: 7% 0;
}

.facilitiesContainer img {
    margin: 7% 0;
}

.acDc {
    display: flex;
    flex-direction: column;
    margin: 7% 0; 
}

.imagesCollection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.thermalTestingFacility {
    display: flex;
    flex-direction: column;
    margin: 7% 0;
}

.imagesCollectionTwo {
    display: flex;
    align-items: center;
    gap: 2vh;
    align-self: stretch;
    margin: 3% 0 0;
}

.particleCharacter h1,
.aeroTesting h1,
.acDc h1,
.thermalTestingFacility h1 {
    color: var(--Base-Black, #000);
    font-family: "Myriad Pro";
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 5vh;
}

/* Uncomment if needed
.particleCharacter ul {
    list-style-type: circle;
}
*/