:root {
  --primary: #fff;
}

.btn {
  /* padding: 8px 20px; */
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
  
}

.btn--primary {
  background-color: rgba(3, 57, 108, 1);
  color: #ffff;
}

.btn--outline {
  background-color: rgb(255, 255, 255);
  color: #161833;
  font-weight: 700;
  padding: 8px 25px;
  /* width: 1000px; */
  height:50px;
  transition: all 0.3s ease-out;
  border-radius: 5px;
}

.btn--aerosol {
  background-color: #fff;
  border-radius: 10%;
  text-align: center;
  color:#161833;
  font-weight: 700;
}

.btn--battery {
  background-color: #fff;
  border-radius: 10%;
  font-family: "Myriad Pro";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #000;
  text-decoration: none;
}

.btn--medium {
  /* padding: 8px 25px; */
  width: 150px;
  font-size: 18px;
}

.btn--large {
  /* padding: 12px 26px; */
  font-size: 15px;
  text-align: center;
  width: 90px;
  height: 45px;
  border-radius: 5%;
}

.btn--medium:hover {
  transition: all 0.3s ease-out;
  background: rgba(23, 67, 138, 1);
  color: #ffff;
  transition: 250ms;
}

.btn--large:hover {
  transition: all 0.3s ease-out;
  background: rgb(206, 205, 205);
  transition: 250ms;
}