:root {
  --primary: #fff;
}

.btn {
  /* padding: 8px 20px; */
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
  
}

.btn--primary {
  border-radius: 6.4px;
  color: white;
  opacity: var(--sds-size-stroke-border);
  background: var(--Dark-Blue, linear-gradient(0deg, var(--Dark-Blue, #161833) 0%, var(--Dark-Blue, #161833) 100%)lightgray 0% 0% / 100px 100px repeat);
}

.btn--outline {
  background-color: #161833;
  color: #fff;
  font-weight: 700;
  padding: 1rem 10%;
  text-align: center;
  font-family: "Myriad Pro";
  height:6vh;
  font-size: 10vh;
  transition: all 0.3s ease-out;
  border-radius: 1vh;
  /* border-radius: 15px; */
}

.btn--aerosol {
  background-color: #fff;
  border-radius: 10%;
  text-align: center;
  color:#161833;
  font-weight: 700;
  text-decoration: none;
}

.btn--battery {
  background-color: #fff;
  border-radius: 10%;
  font-family: "Myriad Pro";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #000;
  text-decoration: none;
}

.btn--submit {
  background-color: #161833;
  color: #fff;
  color: var(--Base-White, #FFF);
  font-family: "Myriad Pro";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.btn--medium {
  /* padding: 8px 25px; */
  width: 150px;
  font-size: 18px;
}

.btn--large {
  padding: 15% 55%;
  /* font-size: 15px;
  text-align: center;
  width: 90px;
  height: 45px; */
  border-radius: 10%;
}

.btn--extralarge {
  padding: 2vh 4.5vh;
  border-radius: 10px;
  text-decoration: none;
}

.btn--large:hover,
.btn--medium:hover,
.btn--extralarge:hover {
  transition: all 0.3s ease-out;
  background: #FF4E0D;
  color: #fff;
  transition: 250ms;
  cursor: pointer;
}