.products {
    background: linear-gradient(to bottom, #fceae4, white);
}

.products-container {
    display: flex;
    flex-direction: column;
    margin: 0 11.5% 30vh;
}

.products-container a {
    text-decoration: none;
    color:  #FF4E0D;
    text-align: left;
    /* text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.50); */
    font-family: "DM Mono";
    font-size: 3.6vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 5% 0 3%;
}

.products-container a:hover {
    text-decoration: underline;
}

.products-container h1 {
    font-family: "Myriad Pro";
    font-size: 9.5vh;;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
}

.products-container img {
    padding-top: 6vh;
}

p.products-text {
    color: var(--Base-Black, #000);
    font-family: "Adobe Caslon Pro";
    font-size: 3.7vh;
    font-style: normal;
    font-weight: 400;
    line-height: 6.2vh; /* 166.667% */
    margin: 7% 0;
}

.different-products {
    display: flex;
    flex-direction: column;
    gap: 10vh;
    margin: 5vh 0;
}

.different-products-top,
.different-products-bottom {
    display: flex;
    gap: 168px;
}

.different-products-top-left,
.different-products-top-right,
.different-products-bottom-left,
.different-products-bottom-right {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    width:70vh;
}

.different-products-top-left-pic,
.different-products-top-right-pic,
.different-products-bottom-left-pic,
.different-products-bottom-right-pic {
    display: flex;
}

.different-products-top-left-text,
.different-products-top-right-text,
.different-products-bottom-left-text,
.different-products-bottom-right-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.different-products-top-left-text h1,
.different-products-top-right-text h1,
.different-products-bottom-left-text h1,
.different-products-bottom-right-text h1 {
    color: var(--Orange, #FF4E0D);
    font-family: "Myriad Pro";
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 7.6vh;
}

.different-products-top-left-text p,
.different-products-top-right-text p,
.different-products-bottom-left-text p,
.different-products-bottom-right-text p {
    color: black;
    font-family: "Adobe Caslon Pro";
    font-size: 1.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 7.5vh; /* 166.667% */
}

.different-products-top-left-text a,
.different-products-bottom-right-text a {
    color: black;
}

p.lastproducttext {
    color: black;
    font-family: "Adobe Caslon Pro";
    font-size: 3.7vh;
    font-style: normal;
    font-weight: 400;
    line-height: 6.2vh; /* 166.667% */
    margin-bottom: 17vh;
}
