.products {
    background: linear-gradient(to bottom, #fceae4, white);
}

.products-container {
    display: flex;
    flex-direction: column;
    margin: 0 11.5%;
}

.products-container p {
    color: var(--Orange, #FF4E0D);
    text-align: left;
    /* text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.50); */
    font-family: "DM Mono";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 4%;
}

.products-container h1 {
    font-family: "Myriad Pro";
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
}

p.products-text {
    color: var(--Base-Black, #000);
    font-family: "Adobe Caslon Pro";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    margin: 7% 0;
}