.innovation {
    display: flex;
    flex-direction: column;
    margin: 0 11.5%;
}

.innovationCharacterization {
    display: flex;
    flex-direction: column;
    margin: 7% 0;
}

.innovationCharacterization h1 {
    color: var(--Base-Black, #000);
    font-family: "Myriad Pro";
    font-size: 6vh;
    font-style: normal;
    font-weight: 700;
    line-height: 6.8vh; 
    text-align: left;
}

.innovationCharacterization p {
    color: var(--Base-Black, #000);
    font-family: "Adobe Caslon Pro";
    font-size: 3.7vh;
    font-style: normal;
    font-weight: 400;
    line-height: 6.2vh;
}

.innovationCharacterization a {
    color: var(--Base-Black, #000);
}

.innovation img {
    margin-top: 7%;
}

.innovationOthers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 15% 0 21%;
}

.innovationOthers h1 {
    color: var(--Base-Black, #000);
    font-family: "Myriad Pro";
    font-size: 6vh;
    font-style: normal;
    font-weight: 700;
    margin: 0 0 8%;
}

.innovationOthersImages {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.innovationOthersImagesLeft {
    margin: 0 3% 0 0;
}

.innovationOthersImagesLeftTop,
.innovationOthersImagesLeftBottom,
.innovationOthersImagesRightTop,
.innovationOthersImagesRightBottom {
    width: 65.05vh;
    height: 35vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 4%;
}

.innovationOthersImagesLeftTopText h1,
.innovationOthersImagesLeftBottomText h1,
.innovationOthersImagesRightTopText h1,
.innovationOthersImagesRightBottomText h1 {
    color: #fff;
    font-family: "Myriad Pro";
    font-size: 3.7vh;
    font-style: normal;
    text-align: left;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.33px;
    margin: 0;
}

.innovationOthersImagesLeftTop {
    background-image: url("../../../../public/images/DustTile.png");
    margin-bottom: 7%;
}

.innovationOthersImagesLeftTopText {
    margin-top: 1%;
    margin-bottom: 28%;
    width: 95%;
}

.innovationOthersImagesLeftTopButton {
    width: 95%;
}

.innovationOthersImagesLeftBottom {
    margin-top: 7%;
    background-image: url("../../../../public/images/ElectrodynamicTile.png");
}

.innovationOthersImagesLeftBottomText {
    margin-top: 1%;
    margin-bottom: 20%;
    width: 95%;
}

.innovationOthersImagesLeftBottomButton {
    width: 95%;
}

.innovationOthersImagesRight {
    display: flex;
    flex-direction: column;
}

.innovationOthersImagesRightTop {
    background-image: url("../../../../public/images/aerosolconcentrationtile.png");
}

.innovationOthersImagesRightTopText {
    margin-top: 1%;
    margin-bottom: 28%;
    width: 95%;
}

.innovationOthersImagesRightTopButton {
    width: 95%;
}