.contactUs-container {
    display: flex;
    flex-direction: column;
    margin: 0 11.5%;
}

.contactUs-container p {
    color: var(--Orange, #FF4E0D);
    text-align: left;
    font-family: "DM Mono";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 4%;
}

.contactUs-container h1 {
    font-family: "Myriad Pro";
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
}