.contactUsContainer {
    display: flex;
    flex-direction: column;
    margin: 0 11.5%;
}

.contactUsContainer a {
    text-decoration: none;
    color: #FF4E0D;
    text-align: left;
    font-family: "DM Mono";
    font-size: 3.6vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 5% 0 3%;
}

.contactUsContainer a:hover {
    text-decoration: underline;
}

.contactUsContainer h1 {
    font-family: "Myriad Pro";
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
}