.navbar {
  background: #F5F5F5;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 9%;
  position: relative;
  gap: 0;
}

.navbarLogo {
  color: #fff;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.navbarLogo img {
  width: 80%;
  margin-right: 0.5vh;
}

.navMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
  position: static;
}

.navItem {
  height: auto;
  display: flex;
  align-items: center;
  font-family: "Myriad Pro";
  font-size: 2.5vh;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  position: static;
}

.navLinks {
  color: #161833;
  /* display: flex; */
  align-items:flex-start;
  text-decoration: none;
  padding: 0.5vh 1.7vh;
  height: 100%;
  white-space: nowrap;
  position: relative;
}

.navLinks:hover {
  border-bottom: none;
}

.navLinks::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #FF4E0D;
  transform: scaleX(0);
  transition: transform 0.2s ease-out;
}

.navItem svg {
  /* width: 20vw; */
  font-size: 1.3rem;
}

.navLinks:hover::after {
  transform: scaleX(1);
}

.navItem.active .navLinks::after {
  content: ''; 
  position: absolute;
  top: 196%;
  right: 0;
  left: 0;
  bottom: -10%;
  height: 2.5px; 
  z-index: 100000000;
  background-color: #FF6600; 
  transform: scaleX(1);
  transition: all 0.3s ease; 
}

.menuIcon {
  display: none;
}

.dropdownArrow {
  margin-right: 2.7vh;
  padding-left: -1vw;
  cursor: pointer;
  transition: transform 0.3s ease;
  color: #161833;
  font-weight: 100;
}

.dropdownArrow.rotate {
  transform: rotate(-180deg);
}

.dropdownContent {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  background-color: #f5f5f5;
  min-width: 100vw; 
  left: 0; 
  right: 0; 
  top: 100%;
  z-index: 10000000;
  border-top: 0.4vh;
  border-top-style: solid;
  border-top-color: rgba(217, 217, 217, 0.50) !important;
}

.dropdownContent a {
  font-family: "Myriad Pro";
  font-size: 2.2vh;
  font-style: normal;
  color: #161833;
  padding: 2vh 40.5vh;
  text-decoration: none;
  display: block;
  text-align: left;
  align-items: center;
  font-weight: 500;
}

.dropdownContent.show {
  max-height: 100vh;
}

.dropdownContent a:hover {
  background-color: #252852;
  color: #fff;
  text-decoration: none;
}

.navButton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 15vh;
  background-color: #161833;
  color: #fff;
  font-weight: 700;
  text-align: center;
  font-family: "Myriad Pro";
  height: 6vh;
  font-size: 2.2vh;
  transition: all 0.3s ease-out;
  border-radius: 1vh;
}

.navButton:hover {
  background-color: #FF4E0D;
}

@media screen and (max-width: 960px) {
  .navbarLogo img {
    width: 20%;
    justify-content: center;
  }

  .navMenu {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    position: absolute;
    top: 6.4vh;
    left: -104.6%;
    opacity: 1;
    transition: all 0.5s ease;
    background-color: #fff; 
  }

  .navMenu.active {
    background: #ffffff;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    height: auto;
    z-index: 1;
  }

  .navLinks {
    display: block;
    margin: 0;
    padding: 2rem 10rem;
    margin: 0.5vh 0;
    width: 100%;
    height: auto;
    position: relative;
    text-align: left;
    color: #161833;
  }

  .navLinks:hover {
    background-color: rgba(3, 57, 108, 1);
    color: #f5f5f5;
    transition: background-color 0.3s ease;
  }

  .menuIcon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .dropdownContent {
    position: relative;
    top: 0;
    width: 100%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .dropdownContent.show {
    display: flex;
    max-height: 500px;
    position: static;
  }
}