.innovation {
    display: flex;
    flex-direction: column;
    margin: 0 11.5%;
}

.innovation-characterization {
    display: flex;
    flex-direction: column;
    margin: 7% 0;
}

.innovation-characterization h1 {
    color: var(--Base-Black, #000);
    font-family: "Myriad Pro";
    font-size: 6vh;
    font-style: normal;
    font-weight: 700;
    /* line-height: 9vh; */
    line-height: 6.8vh; 
    text-align: left;
}

.innovation-characterization p {
    color: var(--Base-Black, #000);
    font-family: "Adobe Caslon Pro";
    font-size: 3.7vh;
    font-style: normal;
    font-weight: 400;
    line-height: 6.2vh; /* 166.667% */
    /* line-height: 50px; */
}

.innovation-characterization a {
    color: var(--Base-Black, #000);
}

.innovation img {
    margin-top: 7%;
}

.innovation-others {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10% 0 20%;
    /* background-color: #FF4E0D; */
}

.innovation-others h1 {
    color: var(--Base-Black, #000);
    font-family: "Myriad Pro";
    font-size: 6vh;
    font-style: normal;
    font-weight: 700;
    margin: 0 0 4%;
}

.innovation-others-images {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.innovation-others-images-left {
    margin: 0 3% 0 0;
}

.innovation-others-images-left-top,
.innovation-others-images-left-bottom,
.innovation-others-images-right-top,
.innovation-others-images-right-bottom {
    width: 518px;
    height: 260px;
    background-size: cover; /* Ensure the background images cover the entire area */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 4%;
}

.innovation-others-images-left-top-text h1,
.innovation-others-images-left-bottom-text h1,
.innovation-others-images-right-top-text h1,
.innovation-others-images-right-bottom-text h1 {
    color: #fff;
    font-family: "Myriad Pro";
    font-size: 3.7vh; /* Adjusted to better match the image */
    font-style: normal;
    text-align: left;
    font-weight: 600;
    line-height: 1.5; /* Adjust for better spacing */
    letter-spacing: -0.33px;
    margin: 0;
}

.innovation-others-images-left-top {
    background-image: url("../../../../../public/images/DustTile.png");
    margin-bottom: 7%;
}

.innovation-others-images-left-top-text {
    margin-top: 1%;
    margin-bottom: 27%;
    width: 95%;
}

.innovation-others-images-left-top-button {
    width: 95%;
}

.innovation-others-images-left-bottom {
    margin-top: 7%;
    background-image: url("../../../../../public/images/ElectrodynamicTile.png");
}

.innovation-others-images-left-bottom-text {
    margin-top: 1%;
    margin-bottom: 19%;
    width: 95%;
}

.innovation-others-images-left-bottom-button {
    width: 95%;
}

.innovation-others-images-right {
    display: flex;
    flex-direction: column;
}

.innovation-others-images-right-top {
    background-image: url("../../../../../public/images/aerosolconcentrationtile.png");
}

.innovation-others-images-right-top-text {
    margin-top: 1%;
    margin-bottom: 28%;
    width: 95%;
}

.innovation-others-images-right-top-button {
    width: 95%;
}