.people {
    display: flex;
    justify-content: center; /* adjust vertical display position */
    width: 1470px;
    height: 5000px;
    background-color: #fff;
}

.people-container {
    display: flex;
    width: 1145px;
    flex-direction: column;
    align-items: center;
    gap: 150px;
    padding: 50px 0 50px 0;
}

.vd {
    width: 1140px;
    height: 907px;
    position: relative;
}

.vd-desc {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 626px;
    height: 750px;
    margin-left: 36%;
    margin-bottom: 50px;
    /* margin-top: -60px; */
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #161833;
}

.vd-desc-container {
    display: flex;
    width: 576px;
    height: 649px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    /* background-color:aquamarine; */
}

.vd-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
    /* background-color:bisque; */
}

.vd-title h1 {
    color: #fff;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.founder-button {
    display: flex;
    width: 198px;
    height: 50px;
    /* padding: var(--sds-size-space-200); */
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #fff;
}

.founder-button p {
    color: #03396C;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.vd-desc-intro {
    display: flex;
    width: 576px;
    flex-direction: column;
    /* align-items: flex-start; */
    /* gap: 10px; */
    /* background-color: black; */
}

.vd-desc-intro p{
    color: #fff;
}

.custom-list {
    list-style-type: disc; /* Default bullet points */
    margin: 0;
    padding: 0 20px; /* Adjust padding for indent */
}

.custom-list li {
    margin-bottom: 10px; /* Space between items */
    text-decoration: underline;
    color:#fff;
}

.vd-desc-logos {
    display: flex;
    width: 239px;
    align-items: center;
    gap: 24px;
}

.michael {
    width: 1140px;
    height: 1000px;
    position: relative;
}

.mich-desc {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 626px;
    max-height: 908px;
    height: 100%;
    margin-left: 36%;
    /* margin-bottom: 50px; */
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #161833;
}

.mich-desc-container {
    display: flex;
    width: 576px;
    height: 750px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 20px 0 20px 0;
}

.mich-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* gap: 20px; */
    align-self: stretch;
}

.mich-title h1 {
    color: #E8E8E8;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.advisor-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #fff;
}

.advisor-button p {
    color: #033F63;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mich-desc-intro {
    display: flex;
    width: 576px;
    /* height: 598px; */
    flex-direction: column;
    /* align-items: flex-start;
    gap: 33px; */
    flex-shrink: 0;
}

.mich-desc-intro p {
    color: #E8E8E8;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
}

.mich-desc-logos {
    display: flex;
    align-items: center;
    width: 483px;
    gap: 24px;
}

.sivakumar {
    width: 1140px;
    height: 1650px;
    position: relative;
}

.siva-desc {
    position: absolute;
    display: flex;
    bottom: 0;
    margin-left: 36%;
    width: 626px;
    height: 1535px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #161833;
}

.siva-desc-container {
    display: flex;
    width: 576px;
    height: 1490px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 20px 0 20px 0;
}

.siva-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    /* background-color:bisque; */
    padding: 0;
    margin: 0;
    width: 100%; /* Ensure it stretches across the container */
    box-sizing: border-box; /* Include padding and border in width calculation */
}

.siva-title h1 {
    text-align: left;
    color: #E8E8E8;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.co-founder-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #fff;
}

.co-founder-button p {
    color: #03396C;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.siva-desc-intro {
    display: flex;
    width: 576px;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: aliceblue; */
}

.siva-desc-intro p {
    color: var(--Off-White, #E8E8E8);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
}

.siva-desc-logos {
    display: flex;
    /* width: 483px; */
    gap: 24px;
    align-items: center;
}

.mitchell {
    width: 1140px;
    height: 670px;
    position: relative;
}

.mitchell-desc {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 626px;
    height: 620px;
    margin-left: 36%;
    justify-content: center;
    align-items: flex-start;
    background-color: #161833;
}

.mitchell-desc-container {
    display: flex;
    width: 576px;
    height: 481px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 20px 0 20px 0;
}

.mitchell-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-self: stretch;
}

.mitchell-title h1 {
    color: #E8E8E8;
    font-family: Roboto;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.bussiness-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #fff;
}

.bussiness-button p {
    color: #03396C;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mitchell-desc-intro {
    display: flex;
    width: 576px;
    flex-direction: column;
}

.mitchell-desc-intro p {
    color: #E8E8E8;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 140% */
}

.mitchell-logos {
    display: flex;
    width: 558px;
    align-items: center;
    gap: 22px;
}