.polarized {
    background: linear-gradient(to bottom, #fceae4, white);
}

.polarizedContainer {
    display: flex;
    flex-direction: column;
    margin: 0 11.5%;
}

.polarizedContainer p {
    color: #FF4E0D;
    text-align: left;
    font-family: "DM Mono";
    font-size: 3.6vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 5% 0 3%;
}

.polarizedContainer h1 {
    font-family: "Myriad Pro";
    font-size: 9.5vh;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    padding-bottom: 5%;
}

.textAfterMain {
    display: flex;
    flex-direction: column;
    margin: 5% 0 7%;
}

.textAfterMachine,
.textAfterHematite {
    display: flex;
    flex-direction: column;
    margin: 2% 0 7%;
}

.textAfterMain p,
.textAfterMachine p,
.textAfterHematite p {
    color: #000;
    font-family: "Adobe Caslon Pro";
    font-size: 3.7vh;
    font-style: normal;
    font-weight: 400;
    line-height: 6.2vh;
}

.machineImage,
.hematiteImage,
.polarizedGraph {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.machineImage p,
.hematiteImage p,
.polarizedGraph p {
    color: #000;
    font-family: "Myriad Pro";
    font-size: 3.7vh;
    font-style: italic;
    font-weight: 600;
    line-height: 40px;
    margin-top: 5vh;
}

.polarizedOthers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10% 0 21%;
}

.polarizedOthers h1 {
    color: var(--Base-Black, #000);
    font-family: "Myriad Pro";
    font-size: 6vh;
    font-style: normal;
    font-weight: 700;
    line-height: 9vh;
    margin: 0 0 4%;
}

.polarizedOthersImages {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.polarizedOthersImagesLeft {
    margin: 0 3% 0 0;
}

.polarizedOthersImagesLeftTop,
.polarizedOthersImagesLeftBottom,
.polarizedOthersImagesRightTop,
.polarizedOthersImagesRightBottom {
    width: 65.05vh;
    height: 35vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 4%;
}

.polarizedOthersImagesLeftTopText h1,
.polarizedOthersImagesLeftBottomText h1,
.polarizedOthersImagesRightTopText h1,
.polarizedOthersImagesRightBottomText h1 {
    color: #fff;
    font-family: "Myriad Pro";
    font-size: 3.7vh;
    font-style: normal;
    text-align: left;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.33px;
    margin: 0;
}

.polarizedOthersImagesLeftTop {
    background-image: url("../../../../public/images/aerosolconcentrationtile.png");
    margin-bottom: 7%;
}

.polarizedOthersImagesLeftTopText {
    margin-top: 1%;
    margin-bottom: 27%;
    width: 95%;
}

.polarizedOthersImagesLeftTopButton {
    width: 95%;
}

.polarizedOthersImagesLeftBottom {
    margin-top: 7%;
    background-image: url("../../../../public/images/MorphologyTile.png");
}

.polarizedOthersImagesLeftBottomText {
    margin-top: 1%;
    margin-bottom: 19%;
    width: 95%;
}

.polarizedOthersImagesLeftBottomButton {
    width: 95%;
}

.polarizedOthersImagesRight {
    display: flex;
    flex-direction: column;
}

.polarizedOthersImagesRightTop {
    background-image: url("../../../../public/images/MicroscopeTile.png");
    margin-bottom: 7%;
}

.polarizedOthersImagesRightTopText {
    margin-top: 1%;
    margin-bottom: 28%;
    width: 95%;
}

.polarizedOthersImagesRightTopButton {
    width: 95%;
}

.polarizedOthersImagesRightBottom {
    background-image: url("../../../../public/images/LightScatteringTile.png");
}

.polarizedOthersImagesRightBottomText {
    margin-top: 1%;
    margin-bottom: 28%;
    width: 95%;
}

.polarizedOthersImagesRightBottomButton {
    width: 95%;
}

.orangeText {
    color: #FF4E0D;
}