.Polarized {
    background: linear-gradient(to bottom, #fceae4, white);
}

.polarized-container {
    display: flex;
    flex-direction: column;
    margin: 0 11.5%;
}

.polarized-container p {
    color:  #FF4E0D;
    text-align: left;
    /* text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.50); */
    font-family: "DM Mono";
    font-size: 3.6vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 5% 0 3%;
}

.polarized-container h1 {
    font-family: "Myriad Pro";
    font-size: 9.5vh;;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    padding-bottom: 5%;
}

.text-after-main {
    display: flex;
    flex-direction: column;
    margin: 5% 0 7%;
}

.text-after-machine,
.text-after-hematite {
    display: flex;
    flex-direction: column;
    margin: 2% 0 7%;
}

.text-after-main p,
.text-after-machine p,
.text-after-hematite p {
    color: #000;
    font-family: "Adobe Caslon Pro";
    font-size: 3.7vh;
    font-style: normal;
    font-weight: 400;
    line-height: 6.2vh; /* 166.667% */
}

.machine-image,
.hematite-image,
.polarizedgraph {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.machine-image p,
.hematite-image p,
.polarizedgraph p {
    color:  #000;
    font-family: "Myriad Pro";
    font-size: 3.7vh;
    font-style: italic;
    font-weight: 600;
    line-height: 40px; /* 133.333% */
    margin-top: 5vh;
}

.polarized-others {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10% 0 20%;
    /* background-color: #FF4E0D; */
}

.polarized-others h1 {
    color: var(--Base-Black, #000);
    font-family: "Myriad Pro";
    font-size: 6vh;
    font-style: normal;
    font-weight: 700;
    line-height: 9vh; /* Adjusted to better fit the heading */
    margin: 0 0 4%;
}

.polarized-others-images {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.polarized-others-images-left {
    margin: 0 3% 0 0;
}

.polarized-others-images-left-top,
.polarized-others-images-left-bottom,
.polarized-others-images-right-top,
.polarized-others-images-right-bottom {
    width: 518px;
    height: 260px;
    background-size: cover; /* Ensure the background images cover the entire area */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 4%;
}

.polarized-others-images-left-top-text h1,
.polarized-others-images-left-bottom-text h1,
.polarized-others-images-right-top-text h1,
.polarized-others-images-right-bottom-text h1 {
    color: #fff;
    font-family: "Myriad Pro";
    font-size: 3.7vh; /* Adjusted to better match the image */
    font-style: normal;
    text-align: left;
    font-weight: 600;
    line-height: 1.5; /* Adjust for better spacing */
    letter-spacing: -0.33px;
    margin: 0;
}

.polarized-others-images-left-top {
    background-image: url("../../../../public/images/aerosolconcentrationtile.png");
    margin-bottom: 7%;
}

.polarized-others-images-left-top-text {
    margin-top: 1%;
    margin-bottom: 22%;
    width: 95%;
}

.polarized-others-images-left-top-button {
    width: 95%;
}

.polarized-others-images-left-bottom {
    margin-top: 7%;
    background-image: url("../../../../public/images/MorphologyTile.png");
}

.polarized-others-images-left-bottom-text {
    margin-top: 1%;
    margin-bottom: 14%;
    width: 95%;
}

.polarized-others-images-left-bottom-button {
    width: 95%;
}

.polarized-others-images-right {
    display: flex;
    flex-direction: column;
}

.polarized-others-images-right-top {
    background-image: url("../../../../public/images/MicroscopeTile.png");
    margin-bottom: 7%;
}

.polarized-others-images-right-top-text {
    margin-top: 1%;
    margin-bottom: 23%;
    width: 95%;
}

.polarized-others-images-right-top-button {
    width: 95%;
}

.polarized-others-images-right-bottom {
    background-image: url("../../../../public/images/LightScatteringTile.png");
}

.polarized-others-images-right-bottom-text {
    margin-top: 1%;
    margin-bottom: 23%;
    width: 95%;
}

.polarized-others-images-right-bottom-button {
    width: 95%;
}