.detection-prevention {
    display: flex;
    flex-direction: column;
    margin: 0 11.5%;
}

.detection-container {
    display: flex;
    flex-direction: column;
}

.detection-container p {
    color: var(--Orange, #FF4E0D);
    text-align: left;
    /* text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.50); */
    font-family: "DM Mono";
    font-size: 3.6vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 5% 0 3%;
}

.detection-container h1 {
    font-family: "Myriad Pro";
    font-size: 9.5vh;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    margin-bottom: 5%;
}

.detection-pre-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vh;
}

.detection-pre-text p {
    font-family: "Adobe Caslon Pro";
    font-size: 3.7vh;
    font-style: normal;
    font-weight: 400;
    line-height: 6.2vh;
}

.detection-top-image-desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 7%;
}

.detection-top-image-desc p {
    color: var(--Base-Black, #000);
    font-family: "Myriad Pro";
    font-size: 3.7vh;
    font-style: italic;
    font-weight: 600;
    text-align: left;
}