.Clients {
    background: linear-gradient(to bottom, #fceae4, white);
}

.Clients-container {
    display: flex;
    flex-direction: column;
    margin: 0 11.5% 35vh;
}

.Clients-container a {
    text-decoration: none;
    color:  #FF4E0D;
    text-align: left;
    /* text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.50); */
    font-family: "DM Mono";
    font-size: 3.6vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 5% 0 3%;
}

.Clients-container a:hover {
    text-decoration: underline;
}

.Clients-container h1 {
    font-family: "Myriad Pro";
    font-size: 9.5vh;;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
}

.client-logos {
    display: flex;
    flex-direction: column;
    margin: 7% 0;
    gap: 15vh;
}

.client-logos-top {
    display: flex;
    flex-direction: row;
    gap: 5.3vh;
}

.client-logos-bottom {
    display: flex;
    flex-direction: row;
    gap: 5.3vh;
}

.clients-text {
    display: flex;
    flex-direction: column;
    margin: 7% 0;
}

.clients-text p {
    color: var(--Base-Black, #000);
    font-family: "Adobe Caslon Pro";
    font-size: 3.7vh;
    font-style: normal;
    font-weight: 400;
    line-height: 6.2vh; /* 166.667% */
}

.client-button {
    display: flex;
    justify-content: center;
    align-items: center;
}