.clients {
    background: linear-gradient(to bottom, #fceae4, white);
}

.clientsContainer {
    display: flex;
    flex-direction: column;
    margin: 0 11.5% 35vh;
}

.clientsContainer a {
    text-decoration: none;
    color: #FF4E0D;
    text-align: left;
    font-family: "DM Mono";
    font-size: 3.6vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 5% 0 3%;
}

.clientsContainer a:hover {
    text-decoration: underline;
}

.clientsContainer h1 {
    font-family: "Myriad Pro";
    font-size: 9.5vh;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
}

.clientLogos {
    display: flex;
    flex-direction: column;
    margin: 7% 0;
    gap: 15vh;
}

.clientLogosTop {
    display: flex;
    flex-direction: row;
    gap: 5.3vh;
}

.clientLogosBottom {
    display: flex;
    flex-direction: row;
    gap: 5.3vh;
}

.clientsText {
    display: flex;
    flex-direction: column;
    margin: 7% 0;
}

.clientsText p {
    color: var(--Base-Black, #000);
    font-family: "Adobe Caslon Pro";
    font-size: 3.7vh;
    font-style: normal;
    font-weight: 400;
    line-height: 6.2vh;
}

.clientButton {
    display: flex;
    justify-content: center;
    align-items: center;
}