.top {
    display: flex;
    flex-direction: column;
    background-image: url('../../../public/images/earth-about.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 140vh; 
    flex-shrink: 1;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
    padding: 1vh; 
}

.topLeft {
    padding-bottom: 20vh;
    margin: 0 10%;
}

.top h1 {
    color: #faf7f7c0;
    text-align: center;
    font-family: "Myriad Pro";
    font-size: 10vh;
    font-style: normal;
    font-weight: 700;
    line-height: 12.5vh;
}

.highlight {
    color: #FF4E0D;
}

.exp {
    display: flex;
    padding: 8vh 36vh;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: #161833E5;
    justify-content: center;
}

.expContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20vh;
}

.founded {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.founded h1 {
    color: #F5F5F5;
    text-align: center;
    font-family: "Myriad Pro";
    font-size: 5vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.founded p {
    color: #F5F5F5;
    text-align: center;
    font-family: "Myriad Pro";
    font-size: 17.2vh;
    font-style: normal;
    padding: 0;
    margin: 0;
    font-weight: 400;
    line-height: normal;
}

.expText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 4vh;
    gap: 3vh;
}

.expText h1 {
    color: #F5F5F5;
    text-align: center;
    font-family: "Myriad Pro";
    font-size: 17.2vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 0;
}

.expText p {
    color: #F5F5F5;
    text-align: center;
    font-family: "Myriad Pro";
    font-size: 5vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: -2%;
}