.aerosolContainer {
    display: flex;
    flex-direction: column;
    margin: 0 11.5%;
    gap: 20%;
}

.orangeText:hover {
    text-decoration: underline;
}

.aerosolContainer p {
    text-decoration: none;
    color: var(--Orange, #FF4E0D);
    text-align: left;
    font-family: "DM Mono";
    font-size: 3.6vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 5% 0 3%;
}

.aerosolContainer h1 {
    font-family: "Myriad Pro";
    font-size: 9vh;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    padding-bottom: 5%;
}

.textAfterCaptureRobot {
    display: flex;
    flex-direction: column;
    margin: 7% 0;
}

.textAfterCaptureRobot p {
    color: black;
    font-family: "Adobe Caslon Pro";
    font-size: 3.7vh;
    font-style: normal;
    font-weight: 400;
    line-height: 6.2vh; /* 166.667% */
}

.textAfterCaptureRobot a {
    color: black;
}

.captureCollectionImages {
    display: flex;
    flex-direction: column;
    gap: 3vw;
    margin-top: 7%;
}

.captureCollectionImages2 {
    display: flex;
    flex-direction: row;
    gap: 1.65vw;
}

.orangeText {
    color: var(--Orange, #FF4E0D);
}