/* General Styles */
.navbar {
  display: flex;
  padding: var(--sds-size-space-800) 150px;
  align-items: center;
  align-content: center; 
  justify-content: center;
  gap: 0px var(--sds-size-space-600);
  flex-wrap: wrap;
  font-size: 1.2rem;
  max-width: 100%;
  overflow-x: hidden;
  flex-shrink: 1;
  background: var(--Dark-Blue, linear-gradient(0deg, var(--Dark-Blue, #161833) 0%, var(--Dark-Blue, #161833) 100%), lightgray 0% 0% / 100px 100px repeat);
}

.logo {
  display: flex;
  align-items: center;
  gap: 24px;
}

.logo-r {
  display: flex;
  width: var(--sds-size-icon-large);
  justify-content: center;
  align-items: center;
}

.navbar-container {
  display: flex;
  width: 1076px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 16px var(--sds-size-space-400);
  flex-shrink: 0;
  flex-wrap: wrap;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1px;
}

.nav-item {
  height: auto;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: Medium;
  /* position:relative; */
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  white-space: nowrap;
  
}

.nav-links:hover {
  border-bottom: 2px solid #fff;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

.fa-angle-down {
  margin-right: 1.5rem;
  cursor: pointer;
  transition: transform 0.3s ease;
  color: #fff;
}

.fa-angle-down.rotate {
  transform: rotate(-180deg);
}

/* Dropdown Content */
.dropdown-content {
  display: block;
  position: absolute;
  background-color: #161833;
  min-width: 100vw; 
  left: 0; 
  right: 0; 
  z-index: 1;
  top: 80px;
}

.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  align-items: center;
  margin-left: 270px;
}

.dropdown-content.show {
  max-height: 500px;
}

.dropdown-content a:hover {
  background-color: #252852;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.dropdown-menu {
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* Media Queries */
@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
    width: 100%;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 80px;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    background-color: #fff; 
  }

  .nav-menu.active {
    background: #ffffff;
    opacity: 1;
    transition: all 0.5s ease;
    height: auto;
    padding-top: 0;
    z-index: 1;
  }

  .nav-links {
    display: block;
    margin: 0;
    padding: 2rem;
    width: 100%;
    height: auto;
    position: relative;
    text-align: left;
  }

  .nav-links:hover {
    background-color: rgba(3, 57, 108, 1);
    color: #ffffff;
    transition: background-color 0.3s ease;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: rgba(3, 57, 108, 1);
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: rgba(3, 57, 108, 1);
    padding: 14px 20px;
    border: 1px solid rgba(3, 57, 108, 1);
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: rgba(3, 57, 108, 1);
    color: #242424;
    transition: 250ms;
  }

  .dropdown-content {
    position: relative;
    top: 0;
    width: 100%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .dropdown-content.show {
    display: flex;
    max-height: 500px;
    position: static;
  }
}
