.navbar-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.navbar-navbar {
  gap: 263px;
  width: 100%;
  height: auto;
  display: flex;
  padding: 16px 150px 16px 151px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 0 0 1px;
  justify-content: space-between;
  background-color: rgba(3, 57, 108, 1);
}
.navbar-frame2 {
  gap: 9px;
  width: 64.80000305175781px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-left: 100px;
}

.navbar-rectangle2 {
  width: 65px;
  height: 63px;
  background-color: #ffffffff;
}

.navbar-frame1 {
  gap: 20px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
  margin-right: 100px;
}

.navbar-text {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.navbar-text02 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.navbar-text:hover,
.navbar-text02:hover,
.navbar-text04:hover,
.navbar-text06:hover,
.navbar-text08:hover,
.navbar-text10:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.navbar-text04 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.navbar-text06 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.navbar-text08 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.navbar-text10 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.navbar-frame75 {
  gap: 10px;
  display: flex;
  padding: 8px;
  overflow: hidden;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}

.navbar-frame75:hover {
  background: #fff;
  color: #242424;
  transition: 250ms;
  cursor: pointer;
}

.navbar-text12 {
  color: rgba(3, 57, 108, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
