/* General Styles */
.navbar {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: static;
  top: 0;
  /* z-index: -999; */
}

.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  max-width: 2000px;
  width: 100%;
}

.navbar-logo {
  width: 64.8px;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.fably {
  width: 65px;
  height: 63px;
  background-image: url("../../../public/images/Navbar.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 0.5rem;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1px;
  position: relative;
  /* width: 100%; */
}

.nav-item {
  height: auto;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: Medium;
}

.nav-links {
  color: rgba(3, 57, 108, 1);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
  white-space: nowrap;
  /* position: relative; */
  
}

.nav-links:hover {
  border-bottom: 4px solid rgba(3, 57, 108, 1);
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: rgba(3, 57, 108, 1);
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

.fa-angle-down {
  margin-right: 1.5rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.fa-angle-down.rotate {
  transform: rotate(-180deg);
}

/* Dropdown Content */
.dropdown-content {
  max-height: 0;
  transition: max-height 0.5s ease;
  background-color: #fff;
  width: 100%;
  z-index: 1;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); */
  overflow: hidden;
  margin-left: 40px;
}

.dropdown-content a {
  color: rgba(3, 57, 108, 1);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content.show {
  max-height: 500px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* @media screen and (max-width: 1160px) {

} */

/* Media Queries */
@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
    width: 100%;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 80px;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    background-color: #fff; 
  }

  .nav-menu.active {
    background: #ffffff;
    opacity: 1;
    transition: all 0.5s ease;
    height: auto;
    padding-top: 0;
    z-index: 1;
  }

  .nav-links {
    display: block;
    margin: 0;
    padding: 2rem;
    width: 100%;
    height: auto;
    position: relative;
    text-align: left;
  }

  .nav-links:hover {
    background-color: rgba(3, 57, 108, 1);
    color: #ffffff;
    transition: background-color 0.3s ease;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: rgba(3, 57, 108, 1);
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: rgba(3, 57, 108, 1);
    padding: 14px 20px;
    border: 1px solid rgba(3, 57, 108, 1);
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: rgba(3, 57, 108, 1);
    color: #242424;
    transition: 250ms;
  }

  .dropdown-content {
    position: relative;
    top: 0;
    width: 100%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .dropdown-content.show {
    display: flex;
    max-height: 500px;
    position: static;
  }
}
