.morph-top {
    display: flex;
    flex-direction: column;
    margin: 0 11.5%;
}

.morph-top p {
    color: var(--Orange, #FF4E0D);
    text-align: left;
    /* text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.50); */
    font-family: "DM Mono";
    font-size: 3.6vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 5% 0 3%;
}

.morph-top h1 {
    font-family: "Myriad Pro";
    font-size: 9.5vh;;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    padding-bottom: 5%;
}

.morph-top-after-image-text {
    display: flex;
    flex-direction: column;
}

.morph-top-after-image-text p {
    color: var(--Base-Black, #000);
    font-family: "Adobe Caslon Pro";
    font-size: 3.7vh;
    font-style: normal;
    font-weight: 400;
    line-height: 6.2vh; /* 166.667% */
}

.morph-top-validation {
    display: flex;
    flex-direction: column;
    margin-bottom: 6%;
}

.morph-top-validation h1 {
    color: var(--Base-Black, #000);
    font-family: "Myriad Pro";
    font-size: 6.5vh;
    font-style: normal;
    font-weight: 700;
    line-height: 70px; /* 60% */
}

.morph-top-validation p {
    color: var(--Base-Black, #000);
    font-family: "Adobe Caslon Pro";
    font-size: 3.7vh;
    font-style: normal;
    font-weight: 400;
    line-height: 6.2vh; /* 166.667% */
    margin-top: -5vh;
}

.morph-top-validation-image,
.morph-top-bigger-graph,
.measuredvstheoretical {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.morph-top-validation-image p,
.morph-top-bigger-graph p,
.measuredvstheoretical p {
    color: var(--Base-Black, #000);
    font-family: "Myriad Pro";
    font-size: 3.7vh;
    font-style: italic;
    font-weight: 600;
    line-height: 40px; /* 133.333% */
}

.morph-top-validation-image p {
    color: #000;
    font-family: "Myriad Pro";
    font-size: 3.7vh;
    font-style: italic;
    font-weight: 600;
    line-height: 40px; /* 133.333% */
    opacity: 10;
}

/*Containers before and after an image*/
.morph-top-after-image-text,
.morph-explain,
.agglomerated {
    display: flex;
    flex-direction: column;
    margin-bottom: 6%;
    margin-top: 6%;
}

.measuredvstheoreticaltext {
    display: flex;
    flex-direction: column;
}

/*text styling for the containers above*/
.morph-top-after-image-text p,
.morph-explain p,
.agglomerated p, 
.measuredvstheoreticaltext p {
    color: var(--Base-Black, #000);
    font-family: "Adobe Caslon Pro";
    font-size: 3.7vh;
    font-style: normal;
    font-weight: 400;
    line-height: 6.2vh; /* 166.667% */
    margin-top: -5vh;
}

.agglomerated h1{
    color: var(--Base-Black, #000);
    font-family: "Myriad Pro";
    font-size: 6vh;
    font-style: normal;
    font-weight: 700;
    line-height: 9vh; /* 60% */
}

.agglomerated-image {
    display: flex;
    flex-direction: column;
    margin-top: 8%;
}

.agglomerated-image p {
    color: var(--Base-Black, #000);
    font-family: "Adobe Caslon Pro";
    font-size: 3.7vh;
    font-style: normal;
    font-weight: 400;
    line-height: 6.2vh; /* 166.667% */
    margin-top: 6%;
    margin-bottom: 8%;
}

.measuredvstheoreticaltext p {
    color: var(--Base-Black, #000);
    font-family: "Adobe Caslon Pro";
    font-size: 3.7vh;
    font-style: normal;
    font-weight: 400;
    line-height: 6.2vh; /* 166.667% */
}