.electrodynamic {
    background: linear-gradient(to bottom, #fceae4, white);
}

.electrodynamicContainer {
    display: flex;
    flex-direction: column;
    margin: 0 11.5%;
}

.electrodynamicContainer p {
    color: var(--Orange, #FF4E0D);
    text-align: left;
    font-family: "DM Mono";
    font-size: 3.6vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 5% 0 3%;
}

.electrodynamicContainer h1 {
    font-family: "Myriad Pro";
    font-size: 9vh;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    padding-bottom: 5%;
}

.textAfterBigField {
    display: flex;
    flex-direction: column;
    margin: 7% 0;
}

.textAfterBigField p {
    color: #000;
    font-family: "Adobe Caslon Pro";
    font-size: 3.7vh;
    font-style: normal;
    font-weight: 400;
    line-height: 6.2vh;
}

.supplySystem {
    display: flex;
    flex-direction: column;
    margin: 0% 0 7%;
}

.supplySystem h1 {
    color: var(--Base-Black, #000);
    font-family: "Myriad Pro";
    font-size: 6vh;
    font-style: normal;
    font-weight: 700;
    line-height: 9vh;
    margin-bottom: -5%;
}

.supplySystem p {
    color: var(--Base-Black, #000);
    font-family: "Adobe Caslon Pro";
    font-size: 3.7vh;
    font-style: normal;
    font-weight: 400;
    line-height: 6.2vh;
}

.fieldMitigationGraph {
    display: flex;
    flex-direction: column;
    margin: 10% 0 3%;
}

.fieldMitigationGraph p {
    color: var(--Base-Black, #000);
    font-family: "Myriad Pro";
    font-size: 3.7vh;
    font-style: italic;
    font-weight: 600;
    line-height: 5vh;
    margin-top: 2%;
}

.fieldAfterText {
    display: flex;
    flex-direction: column;
}

.fieldAfterText p {
    color: var(--Base-Black, #000);
    font-family: "Adobe Caslon Pro";
    font-size: 3.7vh;
    font-style: normal;
    font-weight: 400;
    line-height: 6.2vh;
}

.electroOthers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10% 0 21%;
}

.electroOthers h1 {
    color: var(--Base-Black, #000);
    font-family: "Myriad Pro";
    font-size: 6vh;
    font-style: normal;
    font-weight: 700;
    line-height: 9vh;
    margin: 0 0 4%;
}

.electroOthersImages {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.electroOthersImagesLeft {
    margin: 0 3% 0 0;
}

.electroOthersImagesLeftTop,
.electroOthersImagesLeftBottom,
.electroOthersImagesRightTop {
    width: 65.05vh;
    height: 35vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 4%;
}

.electroOthersImagesLeftTopText h1,
.electroOthersImagesLeftBottomText h1,
.electroOthersImagesRightTopText h1 {
    color: #fff;
    font-family: "Myriad Pro";
    font-size: 3.7vh;
    font-style: normal;
    text-align: left;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.33px;
    margin: 0;
}

.electroOthersImagesLeftTop {
    background-image: url("../../../public/images/SeparationTile.png");
    margin-bottom: 7%;
}

.electroOthersImagesLeftTopText {
    margin-top: 1%;
    margin-bottom: 22%;
    width: 95%;
}

.electroOthersImagesLeftTopButton {
    width: 95%;
}

.electroOthersImagesLeftBottom {
    margin-top: 7%;
    background-image: url("../../../public/images/DustTile.png");
}

.electroOthersImagesLeftBottomText {
    margin-top: 1%;
    margin-bottom: 23%;
    width: 95%;
}

.electroOthersImagesLeftBottomButton {
    width: 95%;
}

.electroOthersImagesRight {
    display: flex;
    flex-direction: column;
}

.electroOthersImagesRightTop {
    background-image: url("../../../public/images/aerosolconcentrationtile.png");
    margin-bottom: 7%;
}

.electroOthersImagesRightTopText {
    margin-top: 1%;
    margin-bottom: 23%;
    width: 95%;
}

.electroOthersImagesRightTopButton {
    width: 95%;
}

.orangeText {
    color: var(--Orange, #FF4E0D);
}