.DetectionBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 11.5%;
}

.DetectionBottomContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.DetectionBottomContainerStartText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.DetectionBottomContainerStartText p {
    color: var(--Base-Black, #000);
    font-family: "Adobe Caslon Pro";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
}

.DetectionBottomContainer16Cell {
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.DetectionBottomContainer16Cell h1 {
    color: var(--Base-Black, #000);
    font-family: "Myriad Pro";
    font-size: 50px;
    font-style: normal;
    text-align: left;
    font-weight: 700;
    line-height: 80px; /* 60% */
}

.DetectionBottomContainer16Cell p {
    color: var(--Base-Black, #000);
    font-family: "Adobe Caslon Pro";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
}

.DetectionBottomContainerGraph2 {
    margin-top: 7%;
}

.DetectionBottomContainerGraph2 p {
    color: var(--Base-Black, #000);
    font-family: "Myriad Pro";
    font-size: 30px;
    font-style: italic;
    font-weight: 600;
    line-height: 40px; /* 133.333% */
}

.DetectionBottomContainerLaterText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.DetectionBottomContainerLaterText p {
    color: var(--Base-Black, #000);
    font-family: "Adobe Caslon Pro";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
}

.DetectionOthers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0 0 10%;
}

.DetectionOthers h1 {
    color: var(--Base-Black, #000);
    font-family: "Myriad Pro";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 60% */
}

.DetectionOtherImages {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.DetectionOtherImagesLeft,
.DetectionOtherImagesRight {
    width: 518px;
    height: 260px;
    background-size: cover; /* Ensure the background images cover the entire area */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px; 
    margin-top: 6%;
}

.DetectionOtherImagesLeft {
    background-image: url("../../../../../public/images/BatterySafety.png");
}

.DetectionOtherImagesRight {
    background-image: url("../../../../../public/images/thermalmanagement.png");
}

.DetectionOtherImagesLeftText {
    margin-bottom: 27%;
    width: 95%;
}

.DetectionOtherImagesRightText {
    margin-bottom: 28%;
    width: 94.2%;
}

.DetectionOtherImagesLeftText h1,
.DetectionOtherImagesRightText h1 {
    color: #fff;
    font-family: "Myriad Pro";
    font-size: 30px; /* Adjusted to better match the image */
    font-style: normal;
    text-align: left;
    font-weight: 600;
    line-height: 1.5; /* Adjust for better spacing */
    letter-spacing: -0.33px;
    margin: 0;
}

.DetectionOtherImagesLeftButton {
    width: 95%;
}