.cfdContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5% 11.5% 0;
}

.cfd {
    display: flex;
    flex-direction: column;
    margin-bottom: 7%;
}

.cfdContainer h1 {
    color: var(--Base-Black, #000);
    font-family: "Myriad Pro";
    font-size: 6.4vh;
    font-style: normal;
    font-weight: 700;
    line-height: 9.5vh;
    text-align: left;
}

.cfdContainer p {
    color: var(--Base-Black, #000);
    font-family: "Adobe Caslon Pro";
    font-size: 3.7vh;
    font-style: normal;
    font-weight: 400;
    line-height: 6.2vh;
}

.cfdContainer a {
    color: var(--Base-Black, #000);
}

.imageDesc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    margin: 7% 0 2%;
}

.imageDesc p {
    color: var(--Base-Black, #000);
    font-family: "Myriad Pro";
    font-size: 3.7vh;
    font-style: italic;
    font-weight: 600;
    line-height: 40px;
}

.managementOthers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 6% 0 20.7%;
}

.managementOthers h1 {
    color: var(--Base-Black, #000);
    font-family: "Myriad Pro";
    font-size: 6vh;
    font-style: normal;
    font-weight: 700;
    line-height: 9vh;
    margin-bottom: 6%;
}

.safetyImages {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
}

.managementOthersImagesLeft,
.managementOthersImagesRight {
    width: 65.05vh;
    height: 35vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px; 
}

.managementOthersImagesLeft {
    background-image: url('../../../../../public/images/BatterySafety.png');
}

.managementOthersImagesRight {
    background-image: url('../../../../../public/images/thermaldetection.png');
}

.managementOthersImagesLeftTitle {
    margin-bottom: 32%;
    width: 95%;
}

.managementOthersImagesRightTitle {
    margin-bottom: 24%;
    width: 93%;
}

.managementOthersImagesLeftTitle h1,
.managementOthersImagesRightTitle h1 {
    color: #fff;
    font-family: "Myriad Pro";
    font-size: 3.7vh;
    font-style: normal;
    text-align: left;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.33px;
    margin: 0;
}

.batteryButton {
    width: 95%;
}