.CFD-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5% 11.5%;
}

.CFD-container h1 {
    color: var(--Base-Black, #000);
    font-family: "Myriad Pro";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; /* 60% */
    text-align: left;
}

.CFD-container p {
    color: var(--Base-Black, #000);
    font-family: "Adobe Caslon Pro";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
}

.CFD-container a {
    color: var(--Base-Black, #000);
}

.image-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    margin: 5% 0 2%;
}

.image-desc p {
    color: var(--Base-Black, #000);
    font-family: "Myriad Pro";
    font-size: 30px;
    font-style: italic;
    font-weight: 600;
    line-height: 40px; /* 133.333% */
}

.management-others {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 5% 0 10%;
}

.management-others h1 {
    color: var(--Base-Black, #000);
    font-family: "Myriad Pro";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* Adjusted to better fit the heading */
    margin: 10% 0;
}

.management-others-images {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
}

.management-others-images-left,
.management-others-images-right {
    width: 518px;
    height: 260px;
    background-size: cover; /* Ensure the background images cover the entire area */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px; 
}

.management-others-images-left {
    background-image: url('../../../../../public/images/BatterySafety.png');
}

.management-others-images-right {
    background-image: url('../../../../../public/images/thermaldetection.png');
}

.management-others-images-left-title {
    margin-bottom: 27%;
    width: 95%;
}

.management-others-images-right-title {
    margin-bottom: 19%;
    width: 93%;
}

.management-others-images-left-title h1,
.management-others-images-right-title h1 {
    color: #fff;
    font-family: "Myriad Pro";
    font-size: 30px; /* Adjusted to better match the image */
    font-style: normal;
    text-align: left;
    font-weight: 600;
    line-height: 1.5; /* Adjust for better spacing */
    letter-spacing: -0.33px;
    margin: 0;
}


