.main_container {
  background-image: url("/images/Home-Intro.png");
  background-size: cover;
  /* Center the image */
  background-position: center;
  height:80vh;
}

.homepage_picture {
  display: flex;
  flex-direction: column;
  margin: 0 20%;
}

.homepage_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.responsiveImage {
  width: 500%;
  height: 400%;
}

.homepage_text h1 {
  color: white;
  text-align: center;
  font-family: "Myriad Pro";
  font-size: 90px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.homepage_text h6 {
  margin-top: 0;
  color: white;
  text-align: center;
  font-family: "Myriad Pro";
  font-size: 6vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}