.morphology {
    background: linear-gradient(to bottom, #fceae4, white);
}

/* .morph-bottom-agglomerated-effects p, */
/* .morph-bottom-agglomerated-text p, */
/* .CMP-effects p, */
/* .morph-top p, */
.morph-top-after-image-text p,
.morph-top-validation p,
.morph-explain p,
.agglomerated p {
    margin-bottom: 5rem; /* Consistent spacing for all paragraphs */
    margin-top: 0; /* Reset top margin to ensure consistent spacing */
}

.morph-bottom-agglomerated-effects p {
    margin-top: 3rem;
}

.measuredvstheoreticaltext p {
    padding-top: 3rem;
    /* padding-bottom: 4rem;; */
}

.measuredvstheoreticaltext {
    padding-bottom: 5rem;
}

.measuredvstheoreticaltext p {
    margin-top: 0;
}