.cards {
  background: linear-gradient(to bottom, #fdf6f3, #fceae4);
}

.cards__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15% 11.5%;
  gap: 2vh;
}

.cards__container_left,
.cards__container_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.cards__container_left_info,
.cards__container_right_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #161833;
}

.cards__container_left_info_heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cards_separator {
  width: 136%;
  height: 0.2vh;
  background-color: #F5F5F5;
}

.cards_separator1 {
  width: 296%;
  height: 0.2vh;
  background-color: #F5F5F5;
}

