.electrodynamic {
    background: linear-gradient(to bottom, #fceae4, white);
}

.electrodynamic-container {
    display: flex;
    flex-direction: column;
    margin: 0 11.5%;
}

.electrodynamic-container p {
    color: var(--Orange, #FF4E0D);
    text-align: left;
    /* text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.50); */
    font-family: "DM Mono";
    font-size: 3.6vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 5% 0 3%;
}

.electrodynamic-container h1 {
    font-family: "Myriad Pro";
    font-size: 9vh;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    padding-bottom: 5%;
}

.text-after-big-field {
    display: flex;
    flex-direction: column;
    margin: 7% 0;
}

.text-after-big-field p {
    color: #000;
    font-family: "Adobe Caslon Pro";
    font-size: 3.7vh;
    font-style: normal;
    font-weight: 400;
    line-height: 6.2vh; /* 166.667% */
}

.supply-system {
    display: flex;
    flex-direction: column;
    margin: 0% 0 7%;
}

.supply-system h1 {
    color: var(--Base-Black, #000);
    font-family: "Myriad Pro";
    font-size: 6vh;
    font-style: normal;
    font-weight: 700;
    line-height: 9vh; /* 60% */
    margin-bottom: -5%;
}

.supply-system p {
    color: var(--Base-Black, #000);
    font-family: "Adobe Caslon Pro";
    font-size: 3.7vh;
    font-style: normal;
    font-weight: 400;
    line-height: 6.2vh; /* 166.667% */
}

.field-mitigation-graph {
    display: flex;
    flex-direction: column;
    margin: 10% 0 3%;
}

.field-mitigation-graph p {
    color: var(--Base-Black, #000);
    font-family: "Myriad Pro";
    font-size: 3.7vh;
    font-style: italic;
    font-weight: 600;
    line-height: 5vh; /* 133.333% */
    margin-top: 2%;
}

.field-after-text {
    display: flex;
    flex-direction: column;
}

.field-after-text p {
    color: var(--Base-Black, #000);
    font-family: "Adobe Caslon Pro";
    font-size: 3.7vh;
    font-style: normal;
    font-weight: 400;
    line-height: 6.2vh; /* 166.667% */
}

.electro-others {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10% 0 21%;
    /* background-color: #FF4E0D; */
}

.electro-others h1 {
    color: var(--Base-Black, #000);
    font-family: "Myriad Pro";
    font-size: 6vh;
    font-style: normal;
    font-weight: 700;
    line-height: 9vh; /* Adjusted to better fit the heading */
    margin: 0 0 4%;
}

.electro-others-images {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.electro-others-images-left {
    margin: 0 3% 0 0;
}

.electro-others-images-left-top,
.electro-others-images-left-bottom,
.electro-others-images-right-top{
    width: 65.05vh;
    height: 35vh;;
    background-size: cover; /* Ensure the background images cover the entire area */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 4%;
}

.electro-others-images-left-top-text h1,
.electro-others-images-left-bottom-text h1,
.electro-others-images-right-top-text h1 {
    color: #fff;
    font-family: "Myriad Pro";
    font-size: 3.7vh; /* Adjusted to better match the image */
    font-style: normal;
    text-align: left;
    font-weight: 600;
    line-height: 1.5; /* Adjust for better spacing */
    letter-spacing: -0.33px;
    margin: 0;
}

.electro-others-images-left-top {
    background-image: url("../../../../public/images/SeparationTile.png");
    margin-bottom: 7%;
}

.electro-others-images-left-top-text {
    margin-top: 1%;
    margin-bottom: 28%;
    width: 95%;
}

.electro-others-images-left-top-button {
    width: 95%;
}

.electro-others-images-left-bottom {
    margin-top: 7%;
    background-image: url("../../../../public/images/DustTile.png");
}

.electro-others-images-left-bottom-text {
    margin-top: 1%;
    margin-bottom: 28%;
    width: 95%;
}

.electro-others-images-left-bottom-button {
    width: 95%;
}

.electro-others-images-right {
    display: flex;
    flex-direction: column;
}

.electro-others-images-right-top {
    background-image: url("../../../../public/images/DustTile.png");
    margin-bottom: 7%;
}

.electro-others-images-right-top-text {
    margin-top: 1%;
    margin-bottom: 28%;
    width: 95%;
}

.electro-others-images-right-top-button {
    width: 95%;
}