.concentration {
    background: linear-gradient(to bottom, #fceae4, white);
}

.concentrationContainer {
    display: flex;
    flex-direction: column;
    margin: 0 11.5%;
}

.orangeText:hover {
    text-decoration: underline;
}

.concentrationContainer p {
    text-decoration: none;
    color: var(--Orange, #FF4E0D);
    text-align: left;
    font-family: "DM Mono";
    font-size: 3.6vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 5% 0 3%;
}

.concentrationContainer h1 {
    font-family: "Myriad Pro";
    font-size: 9vh;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    padding-bottom: 5%;
}

.textAfterBigConcen {
    display: flex;
    flex-direction: column;
    margin: 7% 0;
}

.textAfterBigConcen p {
    color: #000;
    font-family: "Adobe Caslon Pro";
    font-size: 3.7vh;
    font-style: normal;
    font-weight: 400;
    line-height: 166.67%;
}

.concentrationGraph {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

.concentrationGraph p {
    color: var(--Base-Black, #000);
    font-family: "Myriad Pro";
    font-size: 3.7vh;
    font-style: italic;
    font-weight: 600;
    line-height: 133.333%;
}

.concentrationText p {
    color: var(--Base-Black, #000);
    font-family: Roboto;
    font-size: 3.7vh;
    font-style: normal;
    font-weight: 400;
    line-height: 166.67%;
}

.concentrationOthers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10% 0 21%;
}

.concentrationOthers h1 {
    color: var(--Base-Black, #000);
    font-family: "Myriad Pro";
    font-size: 6vh;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    margin: 0 0 4%;
}

.concentrationOthersImages {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.concentrationOthersImagesLeft {
    margin: 0 3% 0 0;
}

.concentrationOthersImagesLeftTop,
.concentrationOthersImagesLeftBottom,
.concentrationOthersImagesRightTop {
    width: 65.05vh;
    height: 35vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 4%;
}

.concentrationOthersImagesLeftTopText h1,
.concentrationOthersImagesLeftBottomText h1,
.concentrationOthersImagesRightTopText h1 {
    color: #fff;
    font-family: "Myriad Pro";
    font-size: 30px;
    font-style: normal;
    text-align: left;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.33px;
    margin: 0;
}

.concentrationOthersImagesLeftTop {
    background-image: url("../../../public/images/SeparationTile.png");
    margin-bottom: 7%;
}

.concentrationOthersImagesLeftTopText {
    margin-top: 1%;
    margin-bottom: 23%;
    width: 95%;
}

.concentrationOthersImagesLeftTopButton {
    width: 95%;
}

.concentrationOthersImagesLeftBottom {
    margin-top: 7%;
    background-image: url("../../../public/images/ElectrodynamicTile.png");
}

.concentrationOthersImagesLeftBottomText {
    margin-top: 1%;
    margin-bottom: 14%;
    width: 95%;
}

.concentrationOthersImagesLeftBottomButton {
    width: 95%;
}

.concentrationOthersImagesRight {
    display: flex;
    flex-direction: column;
}

.concentrationOthersImagesRightTop {
    background-image: url("../../../public/images/DustTile.png");
    margin-bottom: 7%;
}

.concentrationOthersImagesRightTopText {
    margin-top: 1%;
    margin-bottom: 24%;
    width: 95%;
}

.concentrationOthersImagesRightTopButton {
    width: 95%;
}

.orangeText {
    color: var(--Orange, #FF4E0D);
}