.client_home_intro {
    background-color: #161833;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 11.5% 0 11.5%;
}

.clients_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0vh;
}

.clients{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: #880707; */
}

.home_client_separator {
    width: 69.8%;
    height: 0.5vh;
    background-color: #ffffff;
}
  
.heading{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background-color: aquamarine; */
    padding: 3vh 0;
    margin: 0;
}
  
.heading h1 {
    color: #f5f5f5;
    text-align: left;
    font-family: "Myriad Pro";
    font-size: 6vh;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 1.5vh;
    /* background-color: aquamarine; */
}
  
.clients_list{
    /* background-color: aqua; */
    width: 70%;
}
  
.clients_list p {
    margin-top: 1vh;
    color: #f5f5f5;
    font-family: "Adobe Caslon Pro";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 135%; /* 132% */
}
  
.logos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32.4px;
    /* background-color: black; */
    width: 100%;
    padding-top: 7%;
    padding-right: 5.4%;
    /* background-image: url('../public/images/DoD.png'); */
}

.logos img {
    width: 100%;
    height: auto;
}

.goto_client_button {
    font-family: "Myriad Pro";
    font-size: 2.8vh;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: #fff;
    text-align: center;
    color:#161833;
    font-weight: 850;
    text-decoration: none;
    padding: 1% 2%;
    border-radius: 7px;
}

.goto_client_button:hover {
    background-color: #FF4E0D;
    color:#f5f5f5;
}