.batteryBotContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 11.5% 12%;
}

.titleTextBat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5% 0;
}

.titleTextBat p {
    font-family: "Adobe Caslon Pro";
    font-size: 3.7vh;
    font-style: normal;
    font-weight: 400;
    line-height: 6.2vh;
    gap: 100px;
    margin-bottom: 10%;
}

.batterySeparator {
    width: 1138px;
    height: 5px;
    flex-shrink: 0;
    background: #FF4E0D;
    margin-bottom: 5%;
}

.batteryBotContainer img {
    margin-bottom: 5%;
}

.batteryBottomText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.batteryBottomText p {
    color: #000;
    font-family: "Adobe Caslon Pro";
    font-size: 3.7vh;
    font-style: normal;
    font-weight: 400;
    line-height: 6.2vh;
}

.batteryBottomText li {
    color: var(--Base-Black, #000);
    font-family: "Adobe Caslon Pro";
    font-size: 3.7vh;
    font-style: normal;
    font-weight: 400;
    line-height: 6.2vh;
}

.batteryBottomText a {
    color: var(--Base-Black, #000);
}

.batteryOthers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 12% 0 5%;
}

.batteryOthers h1 {
    color: var(--Base-Black, #000);
    font-family: "Myriad Pro";
    font-size: 6vh;
    font-style: normal;
    font-weight: 700;
    line-height: 9vh;
    margin: 0 0 6%;
}

.safetyImages {
    display: flex;
    justify-content: space-between;
    gap: 20px; 
}

.safetyImagesLeft, .safetyImagesRight {
    width: 65.05vh;
    height: 35vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
}

.safetyImagesRight {
    background-image: url("../../../../public/images/thermaldetection.png");
}

.safetyImagesLeft {
    background-image: url("../../../../public/images/thermalmanagement.png");
}

.batteryCardTitleManagement {
    margin-bottom: 30%;
    width: 95%;
}

.batteryCardTitleDetection {
    margin-bottom: 21%;
    width: 95%;
}

.batteryCardTitleManagement h1,
.batteryCardTitleDetection h1 {
    color: #fff;
    font-family: "Myriad Pro";
    font-size: 3.7vh;
    font-style: normal;
    text-align: left;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.33px;
    margin: 0;
}

.batteryButton {
    width: 95%;
}

.btnMobile {
    display: inline-block;
    margin: 0 auto;
}